* {
    font-family: Roboto, sans-serif;
    margin: 0;
    --dark-background: #1f2937;
    --foreground-color: #f9faf8;
    --button-color: #3882f6;
    --quote-background: #e5e7eb;
    --quote-text: #1f2937;
}

nav,
.hero-section {
    background-color: var(--dark-background);
    color: var(--foreground-color);
    display: flex;
    padding: 2rem;
}

.logo {
    /* padding-top: 2rem; */
    margin-left: 5rem;
}

.info-section {
    padding: 2rem;
}

.menu {
    display: flex;
    margin-left: auto;
    list-style: none;
    gap: 1rem;
    padding: 10px;
}

.menu>li {
    padding: 10px;

}

.menu>li:hover {
    background-color: var(--foreground-color);
    color: var(--dark-background);
    cursor: pointer;
}

.hero-section {
    justify-content: space-around;
    padding: 10rem;
}

button {
    background-color: var(--button-color);
    border: 0;
    border-radius: 10px;
    padding: .5rem 1.5rem;
    color: var(--foreground-color);
    flex: 0;
    align-self: flex-start;
    cursor: pointer;
}

button:hover {
    background-color: var(--foreground-color);
    color: var(--button-color);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    flex-grow: 2;
    flex-basis: 0;
}

h2 {
    text-align: center;
    display: block;
    flex: 0;
}

.information {
    display: flex;
    gap: 2rem;
    padding: 3rem;
    justify-content: center;
    align-content: center;
}

.thumb-img {
    border: 2px solid var(--button-color);
    border-radius: 10px;
    transition: .5s ease-in-out;
    margin: auto;
    display: block;
}

.thumb-img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.thumb-txt {
    text-align: center;
    padding: 1rem;
    color: var(--quote-text);
    align-self: center;
}

.citation-section {
    background-color: var(--quote-background);
    text-align: center;
    padding: 10rem 15rem;
    color: var(--quote-text);
    font-size: 36px;
    font-style: italic;
}

.author {
    text-align: right;
    font-weight: bold;
}

.call-to-action-section {
    padding: 5rem;
    margin: 5rem;
    background-color: var(--button-color);
    color: var(--foreground-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.call-to-action-title {
    font-size: 36px;
    font-weight: bold;
    flex: 3;
}

.call-to-action-text {
    align-self: stretch;
}

.call-to-action-button {
    margin-left: auto;
}

.call-button {
    border-radius: 10px;
    border: 2px solid var(--foreground-color);
    padding: .5rem 1.5rem;
    cursor: pointer;
}

footer {
    background-color: var(--dark-background);
    color: var(--foreground-color);
    text-align: center;
    padding: 2rem;
}

@media screen and (max-width: 500px) {

    .hero,
    .welcome0,
    .information,
    .call-to-action-section,
    .hero-section {
        flex-direction: column;
        align-items: center;
    }
}